.head {
    background-color: aquamarine;
    gap: 10px;
    flex-direction: column;
}

.body {
    display: flex;
    gap: 10px;
}

.sidebar {
    background-color: lightgreen;
    width: 100px;
    height: 300px;
}

.content {
    flex: 1;
    background-color: red;
}

.footer {
    background-color: blueviolet;
}

.all {
    gap: 10px;
    flex-direction: column;
    display: flex;
}